@font-face {
  font-family: 'iconfont'; /* Project id 3978461 */
  src:
    url('iconfont.woff2?t=1745897316658') format('woff2'),
    url('iconfont.woff?t=1745897316658') format('woff'),
    url('iconfont.ttf?t=1745897316658') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 35px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuyueliebiao:before {
  content: '\e62f';
}

.icon-note:before {
  content: '\e640';
}

.icon-xiazai1:before {
  content: '\e63e';
}

.icon-renyuanquanxian:before {
  content: '\e696';
}

.icon-reset:before {
  content: '\e63b';
}

.icon-AImoxing:before {
  content: '\e63f';
}

.icon-Shape:before {
  content: '\e6b2';
}

.icon-audit:before {
  content: '\eabe';
}

.icon-tishi:before {
  content: '\e622';
}

.icon-fuzeren:before {
  content: '\e646';
}

.icon-bumen:before {
  content: '\e62c';
}

.icon-lianxidianhua:before {
  content: '\e658';
}

.icon-didian:before {
  content: '\e671';
}

.icon-jiantou-copy:before {
  content: '\e603';
}

.icon-jiantou:before {
  content: '\e65f';
}

.icon-xiaowai:before {
  content: '\e61e';
}

.icon-xiaonei:before {
  content: '\e618';
}

.icon-caozuorizhi:before {
  content: '\e617';
}

.icon-huodongyuyue:before {
  content: '\e7de';
}

.icon-zhuanti:before {
  content: '\e629';
}

.icon-shequdongtai:before {
  content: '\e6d4';
}

.icon-xuexijiaoliu:before {
  content: '\e75f';
}

.icon-mti-zhinengqinwu:before {
  content: '\e9ce';
}

.icon-shangxiajiantou_xia:before {
  content: '\e612';
}

.icon-shangxiajiantou_shang:before {
  content: '\e616';
}

.icon-guanbi:before {
  content: '\eca0';
}

.icon-touxiang:before {
  content: '\e611';
}

.icon-xiaoxi1:before {
  content: '\e637';
}

.icon-zhedie:before {
  content: '\e647';
}

.icon-qianfeijine:before {
  content: '\e65b';
}

.icon-shezhi-xitongshezhi:before {
  content: '\e602';
}

.icon-daipaiqi:before {
  content: '\e896';
}

.icon-erweima:before {
  content: '\e7ad';
}

.icon-bianji1:before {
  content: '\e614';
}

.icon-tuichu:before {
  content: '\e610';
}

.icon-myorder:before {
  content: '\e62e';
}

.icon-x_xiaozu:before {
  content: '\e712';
}

.icon-caiwuchaxun:before {
  content: '\e60c';
}

.icon-anbaowanghoutai-shezhi:before {
  content: '\e601';
}

.icon-yuyue:before {
  content: '\e61d';
}

.icon-shangcheng__shiyanshebei:before {
  content: '\e60e';
}

.icon-shujutongji-05:before {
  content: '\e634';
}

.icon-shezhi:before {
  content: '\e62b';
}

.icon-zuopinshangchuan-u:before {
  content: '\e633';
}

.icon-wode:before {
  content: '\e667';
}

.icon-weizhi:before {
  content: '\e7ba';
}

.icon-hrcollegepeopleCardingRange-copy:before {
  content: '\e8be';
}

.icon-w_laoshi:before {
  content: '\e66c';
}

.icon-rili:before {
  content: '\e60d';
}

.icon-kongxianjiaoshi:before {
  content: '\e71d';
}

.icon-jiaoshi:before {
  content: '\e6f2';
}

.icon-kecheng-:before {
  content: '\e620';
}

.icon-banji:before {
  content: '\e624';
}

.icon-xuesheng:before {
  content: '\e61b';
}

.icon-laoshi:before {
  content: '\e61c';
}

.icon-ddgl:before {
  content: '\e6e9';
}

.icon-OAshenpi:before {
  content: '\e64e';
}

.icon-neibuzhiliangsunshi:before {
  content: '\e655';
}

.icon-chuangxinpingtai:before {
  content: '\e600';
}

.icon-chaxunfuwu:before {
  content: '\e674';
}

.icon-xiaoxi:before {
  content: '\e60b';
}

.icon-kefu:before {
  content: '\e625';
}

.icon-bianji:before {
  content: '\e61a';
}

.icon-gengxin:before {
  content: '\e615';
}

.icon-bumenguanli:before {
  content: '\e621';
}

.icon-shangchuan1:before {
  content: '\e632';
}

.icon-qushi:before {
  content: '\e60a';
}

.icon-tizhong:before {
  content: '\e682';
}

.icon-xiangmuqidong:before {
  content: '\e6ae';
}

.icon-xiangmukanban-shishixiangmu:before {
  content: '\e660';
}

.icon-shengao:before {
  content: '\e799';
}

.icon-chakan:before {
  content: '\e64d';
}

.icon-pinglun:before {
  content: '\e619';
}

.icon-chaxun:before {
  content: '\e60f';
}

.icon-banli:before {
  content: '\e608';
}

.icon-duigou:before {
  content: '\e659';
}

.icon-lishixiao:before {
  content: '\e8bd';
}

.icon-qiyeweixin:before {
  content: '\e673';
}

.icon-tianjia:before {
  content: '\e613';
}

.icon-shouji:before {
  content: '\e63a';
}

.icon-shanchu:before {
  content: '\e718';
}

.icon-download:before {
  content: '\e61f';
}

.icon-qianzi:before {
  content: '\e677';
}

.icon-shangchuan:before {
  content: '\e606';
}

.icon-zhankai:before {
  content: '\e607';
}

.icon-xiazai:before {
  content: '\e609';
}

.icon-gengduo:before {
  content: '\e605';
}

.icon-sousuo:before {
  content: '\e604';
}
