*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: var(--van-font-size-lg);
  color-scheme: light;
  font-family: Source Han Sans CN;
}

html.dark {
  background: #222;
  color-scheme: dark;
}

#app {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

/* 隐藏滚动条 - Webkit浏览器 */
::-webkit-scrollbar {
  width: 0 !important;
  background: transparent !important;
}

* {
  scrollbar-width: none;
}

// input 初始化
input {
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 30px;
  &::placeholder {
    color: #999;
  }
}
